<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.liferay.ide.animatedwizardsample.TestView"
            id="com.liferay.ide.project.ui.view1"
            name="Test View"
            restorable="true">
      </view>
   </extension>

</plugin>
