<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="RCPClock.operation">
      <operation
            class="rcpclock.start.StartOperation"
            name="start"></operation>
      <operation
            class="rcpclock.start.StopOperation"
            name="stop">
      </operation>
      <operation
            class="rcpclock.start.AddOneYeadOperation"
            name="addOneYear">
      </operation>
   </extension>

</plugin>
