<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Test View"
            icon="icons/sample.gif"
            category="com.liferay.andywu.test"
            class="com.liferay.andywu.test.views.TestView"
            id="com.liferay.andywu.test.views.TestView">
      </view>
   </extension>

</plugin>
