<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.vogella.preferences.page.preferencepage.MyPreferencePage1"
            id="de.vogella.preferences.page.preferencepage1 "
            name="MyPreference Page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="showPreferenceValues"
               label="showPreferenceValues"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vogella.preferences.page.handler.ShowPreferenceValues"
            id="showPreferenceValues"
            name="showPreferenceValues">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.vogella.preferences.page.preferencepage.MyInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.vogella.preferences.page.View"
            id="de.vogella.preferences.page.view"
            name="Pre View"
            restorable="true">
      </view>
   </extension>

</plugin>
